<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- Level的级别，由高到低 -->
  <!-- None > Fatal > ERROR > WARN > DEBUG > INFO > ALL-->
  <!-- 解释：如果level是ERROR，则在cs文件里面调用log4net的info()方法，则不会写入到日志文件中-->
  <log4net>
    <!--通用日志类-->
    <logger name="loginfo">
      <!--定义记录的日志级别-->
      <level value="ALL" />
      <!--记录到哪个介质中去-->
      <appender-ref ref="LogInfoAppender" />
    </logger>

    <!--通用日志类-->
    <logger name="logerror">
      <!--定义记录的日志级别-->
      <level value="ALL" />
      <!--记录到哪个介质中去-->
      <appender-ref ref="LogErrorAppender" />
    </logger>

    <!--通用日志类-->
    <logger name="logdebugview">
      <!--定义记录的日志级别-->
      <level value="ALL" />
      <!--记录到哪个介质中去-->
      <appender-ref ref="OutputDebugStringAppender" />
    </logger>

    <!--Info日志附加介质-->
    <appender name="LogInfoAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志输出到这个相对目录下-->
      <file type="log4net.Util.PatternString" value="%property{LogFolder}" />
      <!--输出的日志不会覆盖以前的信息-->
      <appendToFile value="true" />
      <!--文件创建的方式-->
      <rollingStyle value="Composite" />
      <!--备份文件的个数-->
      <maxSizeRollBackups value="20" />
      <!--当个日志文件的最大大小-->
      <maximumFileSize value="10MB" />
      <!--是否使用静态文件名-->
      <staticLogFileName value="false" />
      <!--日志文件名-->
      <datePattern value="&quot;info_&quot;yyyyMMdd&quot;.txt&quot;" />
      <!--错误日志布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"
					   value="%date [%thread-%-5level] %message%newline%n" />
      </layout>
    </appender>

    <!--Error日志附加介质-->
    <appender name="LogErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志输出到这个相对目录下-->
      <file type="log4net.Util.PatternString" value="%property{LogFolder}" />
      <!--输出的日志不会覆盖以前的信息-->
      <appendToFile value="true" />
      <!--文件创建的方式-->
      <rollingStyle value="Composite" />
      <!--备份文件的个数-->
      <maxSizeRollBackups value="20" />
      <!--当个日志文件的最大大小-->
      <maximumFileSize value="10MB" />
      <!--是否使用静态文件名-->
      <staticLogFileName value="false" />
      <!--日志文件名-->
      <datePattern value="&quot;error_&quot;yyyyMMdd&quot;.txt&quot;" />
      <!--错误日志布局-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread-%-5level] %message%newline%n" />
      </layout>
    </appender>

    <!--OutputDebugString日志附加介质-->
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread-%-5level] %message%newline%n" />
      </layout>
    </appender>
  </log4net>
</configuration>